NEXT_PUBLIC_SITE_URL=https://kohrong.co
REVALIDATE_TOKEN=replace_with_random_secret
GA_MEASUREMENT_ID=G-XXXXXXXXXX
SANITY_PROJECT_ID=replace_me
SANITY_DATASET=production
SANITY_API_VERSION=2024-01-01
